body {
  margin: 0px;
  padding: 0px;
  color: #605e5e;
}
.container {
  max-width: 1250px;
}

.card {
  max-width: 988px !important;
  margin: auto;
  border-radius: 0px;
}
.navbar-expand-lg {
  width: 70%;
  margin: auto;
  background-color: #fff !important;
}
.navbar-expand-lg li {
  margin: 0px 10px;
}
.navbar-expand-lg a {
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}

main .adrianna {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 100%;
}
main .adrianna h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 300;
}

main .photo img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 850px;
  width: 81%;
  object-fit: cover;
}

main .card-section .card {
  display: flex;
  margin: auto;
  border-radius: 0px;
  border: 1px solid #f8f7f7 !important;
}
main .card-section .card img {
  border-radius: 0px;
  cursor: pointer;
  height: 100%;
  object-fit: cover;

  max-height: 330px;
}
main .card-section .card-body {
  padding: 40px 48px 37px;
  cursor: pointer;
}
main .card-section .card-body h5 {
  font-size: 12px;
  font-weight: 300;
}
main .card-section .card-body .fa-user-circle {
  font-size: 27px;
  color: #a0a09f;
}
main .card-section .card-body .fa-crown {
  font-size: 10px;
}
main .card-section .card-body .status-name {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 300;
}
main .card-section .card-body .status-name:hover {
  color: #b29189;
}
main .card-section .card-body .card-text {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #a6a6a6;
}
main .card-section .smallara {
  margin-left: 150px;
  color: #a6a6a6;
}
main .card-section .text-muted {
  color: #a6a6a6 !important;
}
main .card-section .smallara .fa-heart {
  color: red;
  font-size: 13px;
}
main .fa-angle-up {
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.gallery-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-images .card-gallery {
  width: 24%;
  position: relative;
  margin: 6px;
}

.gallery-images .info {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.5s;
}

.gallery-images .info:hover {
  opacity: 1;
}

.gallery-images .info a {
  width: 90%;
  text-align: center;
  color: white;
  font-size: 15px;
  line-height: 22px;
  font-family: "Open Sans", sans-serif;
}

.gallery-images img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}
footer {
  width: 100%;
  height: 450px;
  background-color: #f5f4f4;
}
footer .last-one {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .last-one h4 {
  margin-top: 80px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

footer section .form-group {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
footer section .form-group .form {
  width: 480px;
  margin-top: 10px;
  border: 1px solid black;
  height: 40px;
}
footer section .form-group .form:hover {
  border: 3px solid black;
}
::placeholder {
  font-weight: 600;
  color: black;
}
.btn-random {
  width: 480px;
  height: 40px;
  border-radius: 0px;
  margin: auto;
  border: none;
  display: grid;
}
.btn-random:hover {
  background-color: #f5f4f4;
  color: #343a40;
}

.social-logos-bro {
  display: flex;
  margin-top: 100px;
  list-style-type: none;
  justify-content: center;
  font-size: 23px;
}
.social-logos-bro a {
  color: #999999;
  padding: 4px 10px;
}
.text-ran {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
}

main .about-me {
  width: 100%;
  height: 850px;
}
main .about-me .container h3 {
  font-size: 28px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
main .about-me .whole-text {
  width: 46%;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: auto;
}
main .about-me .whole-text-2 {
  width: 40%;
  text-align: center;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: auto;
}
main .about-me .t5 {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin-top: -10px;
}
main .about-me .form-group {
  margin-bottom: 5px;
  display: grid;
  justify-content: center;
}
main .about-me .form-group .form-about {
  width: 510px;
  height: 31px;
  border: 1px solid black;
  background-color: rgba(245, 244, 244, 1);
}
main .about-me .form-group .form-about::placeholder,
.form-about-text::placeholder {
  font-weight: 200;
}
main .about-me .form-group .form-about-text {
  width: 510px;
  height: 120px;
  border: 1px solid black;
  background-color: rgba(245, 244, 244, 1);
}
main .about-me .form-group .one-more-input {
  position: relative;
  display: flex;
}

main .about-me .form-group .one-more-input .kse {
  position: absolute;
  left: 180px;
  top: 123px;
  width: 145px;
  height: 45px;
  border-radius: 0px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
main .about-me .form-group .one-more-input .kse:hover {
  background-color: #f5f4f4;
  color: #343a40;
  border: none;
}
.container img {
  position: relative;
    animation-name: mainimage;
    animation-duration: 7s;  
   animation-fill-mode: forwards;
}
